h1{
    text-shadow:darkblue;
    color:black (255, 0, 0);
    text-align: center;
    background-color:antiquewhite;
}
section{
    text-align: left;
}
h2{
    text-align: left;
    background-color: antiquewhite;
}
h3{
    background-color: aqua;
    text-align: center;
}
h4{
    text-decoration: underline;
    text-align: center;
    background-color: aqua;
}
h5{
    text-align: left;
    background-color: aqua;
}
.veronica{
    display: flex;
}
nav {
text-align: center;
text-shadow: black;
}
body {
    background-color: aquamarine;
    text-align: left;
}
